* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}


body {
  min-height: 100%;
  position: relative;
}

h1 {
  font-family: 'MonsterHunterBold', sans-serif;
}

h2 {
  font-family: 'MonsterHunter', sans-serif;
}


